body {
  font-family: monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, auto);
}

.menu {
  grid-column: 1/5;
  grid-row: 1/2;
}

.main-noticias {
  grid-column: 1/4;
  grid-row: 2/4;
}

.aside {
  grid-column: 4/5;
  grid-row: 2/4;
}

.main-newsletter {
  grid-column: 1/5;
  grid-row: 4/5;
}

.footer {
  grid-column: 1/5;
  grid-row: 5/6;
}

@media screen and (max-width: 768px) {
  .menu {
    display: grid;
    grid-template-columns: 1/3;
    grid-template-rows: 1/2;
    align-content: space-between;
    align-items: center;
  }

  .menu__title {
    align-items: center;
  }

  .menu__links-2 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .main-noticias .listad-noticias {
    display: grid;
    grid-template-columns: 1/3;
    grid-template-columns: 2/4;
  }
}
@media screen and (max-width: 768px) {
  .aside {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .main-newsletter {
    display: grid;
    grid-template-columns: 1/3;
    grid-template-columns: 4/5;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: 1/3;
    grid-template-columns: 5/6;
  }
}
.menu {
  width: 100%;
  padding: 0.9375rem;
  display: flex;
  align-items: center;
  align-content: space-between;
  border-bottom: 0.0625rem solid gray;
}

.menu__title {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.menu__links {
  float: right;
  width: 52.5rem;
  text-align: right;
  list-style-type: none;
}

.menu__links {
  text-decoration: none;
  text-transform: uppercase;
}

.menu__input {
  border-radius: 1.875rem;
}

.main-noticias {
  width: 46.25rem;
  padding: 0.625rem;
}

.listad-noticias {
  width: 43.75rem;
  float: left;
}
.listad-noticias__noticia {
  width: 13.125rem;
  display: inline-block;
  margin: 0.3125rem;
  cursor: pointer;
}
.listad-noticias__cuerpo img {
  width: 13.125rem;
  height: 21.875rem;
  margin-top: 1.5625rem;
  margin-bottom: 0.9375rem;
}
.listad-noticias__cuerpo p {
  margin-bottom: 1.5625rem;
}

.aside {
  width: 13.75rem;
  float: right;
  padding: 0.625rem;
}

.listado {
  border-bottom: 0.0625rem solid gray;
}

.listado__titulo {
  margin-bottom: 0.9375rem;
}

.listado__parrafo {
  margin-bottom: 0.9375rem;
}

.main-tags {
  margin-bottom: 0.9375rem;
}
.main-tags__titulo {
  margin-bottom: 0.9375rem;
}
.main-tags__links li {
  color: white;
  padding: 0.1875rem;
  display: inline;
  background-color: steelblue;
  list-style-type: none;
  margin-bottom: 1.25rem;
}

.tags__box {
  border-bottom: 0.0625rem solid gray;
}

.noticias-destacadas {
  padding-top: 0.9375rem;
}
.noticias-destacadas__titulo {
  margin-bottom: 0.9375rem;
}
.noticias-destacadas__descripcion {
  margin-bottom: 0.75rem;
}
.noticias-destacadas__img {
  margin-bottom: 0.75rem;
}

.main-newsletter {
  width: 100%;
  background-color: #f2f4f5;
  text-align: center;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}
.main-newsletter__titulo {
  font-size: 1.5rem;
}
.main-newsletter__parrafo {
  font-size: 0.75rem;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
}
.main-newsletter__button input, .main-newsletter button {
  display: inline-block;
  border-width: 0;
  font-size: 0.8125rem;
  padding: 0.3125rem 0.625rem;
  margin-top: 0.625rem;
}
.main-newsletter__button button {
  background-color: coral;
  color: white;
}
@media screen and (max-width: 768px) {
  .main-newsletter .main-newsletter__titulo {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 768px) {
  .main-newsletter .main-newsletter__parrafo {
    margin: 1.25rem;
  }
}

.footer {
  width: 100%;
  padding: 0.9375rem;
  margin: 0 auto;
  font-size: 15px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .footer {
    font-size: 13px;
  }
}

/*# sourceMappingURL=style.css.map */
