
.container{
    max-width:960px;
    display:grid;
    grid-template-columns: 0.5fr 0.5fr;
    margin: 0 auto;
}

.menu{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    border: 1px solid black;
}

.main{
    grid-template-columns: 1 / 2;
    grid-row: 2 / 3;
    border: 1px solid black;
}

.aside{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: 1px solid black;
}

.article{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    border: 1px solid black;
}

.newsletter{
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    border: 1px solid black;
}

.footer{
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    border: 1px solid black;
}