.main-noticias{
    width: 46.25rem;
    padding:0.625rem;
}

.listad-noticias{
    width: 43.75rem;
    float: left;

&__noticia{
    width: 13.125rem;
    display: inline-block;
    margin: 0.3125rem;
    cursor: pointer;
    }

&__cabecera{

    }

&__cuerpo img{
    width: 13.125rem;
    height: 21.875rem;
    margin-top:1.5625rem;
    margin-bottom:0.9375rem;
    }

&__cuerpo p{
    margin-bottom:1.5625rem;
}

}

